name: Deploy FinancialRAG to Cloud Run

on:
  push:
    branches: [ "main" ]

env:
  PROJECT_ID: extract-key-value
  REGION: asia-south1
  SERVICE: financial-rag

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/554164708030/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
          service_account: github-cloudrun-deployer@extract-key-value.iam.gserviceaccount.com

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy $SERVICE \
            --source . \
            --region $REGION \
            --project $PROJECT_ID \
            --allow-unauthenticated \
            --set-env-vars OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }},MODEL_NAME=${{ secrets.MODEL_NAME }},TEMPERATURE=${{ secrets.TEMPERATURE }}
            
